{% extends "base.html" %}

{% block title %}
	Daily
{% endblock %}

{% block style %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/js/tempusdominus-bootstrap-4.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css"/>
<style>
	.fa-arrow-down::before {
		content: "-";
	}
	.fa-arrow-up::before {
		content: "+";
	}
	select,
	select option {
	  color: #000000;
	}

	select:invalid,
	select option[value=""] {
	  color: #6c757d;
	}
</style>
{% endblock %}

{% block body %}
<div style = "display: block; margin-left: auto; margin-right: auto;">
	{% if not isOwner %} <h1 style="color:#aaa"><i>(Viewing for {{ username }})</i></h1><br>{% endif %}
	<h2 style = "margin-bottom: 20px;"> {{ date }} </h2>
	<form class="form-inline text-center my-2" action="/changedate" method="POST">
		<div style="margin:auto">
			<label for="date" class = "font-weight-bold" style = "margin-bottom: 5px;">Choose a date:</label>
			<input class="form-control" style="width:18rem" type="date" name="date" required>
			<input type="hidden" name="user_id" value="{{ user_id }}">
			<button class="btn btn-primary mx-1" type="submit">Submit</button>
		</div>
	</form>
	<br>
	<h3 style = "color: #ee4035;"> Daily Overview </h3>
	<div class="card" style="width: 800px; text-align: left; padding-bottom: 0px;">
		{% if isOwner and entries == None %}
		<p class="p-4 m-0">
			<a data-toggle="collapse" href="#collapseEntry" role="button" aria-expanded="false" aria-controls="collapseEntry">
				 <span class="fa fa-plus-circle fa-lg"></span>
			</a>Add a new entry!
		</p>
		<div class="collapse" id="collapseEntry">
			<form action = "/entrycheck" method = "POST" class="form-group" style = "padding-left: 10px; padding-right: 10px;">
				<input type="hidden" name="date" value="{{datetime}}">
		    <textarea class="form-control" rows="4" name = "new_entry" placeholder = "Today, I am..."></textarea>
				<button type="submit" class="btn btn-primary float-right my-2 form-control btn-sm" id="submit">Submit</button>
			</form>
		</div>
		{% endif %}
		{% if viewentry %}
		{% if entries != None %}
			{% for x in entries %}
				<div class="p-4" style="padding-left: 10px; padding-right: 10px; padding-top: 10px; text-align: left; background-color: #e8f4f8;">
					<span>
						{% autoescape false %}
							{{ x | replace("\r\n", "<br>") }}
						{% endautoescape %}
					</span>
					{% if isOwner %}
					<span><a data-toggle="collapse" href="#collapseEdit" role="button" aria-expanded="false" aria-controls="collapseEdit">
						 <span class="fa fa-pencil mx-2"> </span>
					</a></span>
					<div class="collapse" id="collapseEdit" style = "margin-top: 10px;">
						<form action = "/editentry" method = "POST" class="form-group">
							<input type="hidden" name="date" value="{{datetime}}">
					    <textarea class="form-control" rows="5" name = "edit_entry">{{ x }}</textarea>
							<button type="submit" class="btn btn-primary btn-sm float-right my-2 form-control">Submit</button>
						</form>
					</div>
					{% endif %}
					<!-- comments -->
					{% if comment %}
						<center>
							<a class="btn btn-link font-weight-bold text-center" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
							  View {{ comments|length }} Comments
							</a>
						</center>
							<div class="collapse" id="collapseExample">
								{% for comment in comments %}
							  <div class="card card-body p-2">
									<i><b>{{ comment[0] }}</b> commented:</i>
									{{ comment[1] }}
							   </div>
								{% endfor %}
							</div>
							<form action="/addcomment" method="POST">
								<div class="form-group">
									<input type="hidden" name="date" value="{{datetime}}">
									<input type="hidden" name="user_id" value="{{ user_id }}">
									<input type="text" class="form-control d-inline my-2" name="commentbody" placeholder="Add comment..."></input>
								</div>
							</form>
				{% else %}
				<center>
					<b>You are not allowed to comment on this entry.</b>
				</center>
				{% endif %}
					</div>
			{% endfor %}
		{% else %}
			{% if not isOwner %}
				<center class="text-secondary">
					<br><i>No entry yet!</i><br><br>
				</center>
			{% endif %}
		{% endif %}
		{% else %}
		<center>
			<br>
			<b>You are not allowed to view this entry.</b>
			<br><br>
		</center>
		{% endif%}
	</div><br>
	<h3 style = "color: #f37736;"> To-Do List </h3>
	<div class = "card" style = "width: 800px; text-align: left;" id = "tdlist">
		{% if isOwner %}
		<p class="p-4 m-0">
			<a data-toggle="collapse" href="#collapseTask" role="button" aria-expanded="false" aria-controls="collapseTask" style="color:#cec1e7">
				 <span class="fa fa-plus-circle fa-lg"></span>
			</a>Add a new task!
		</p>
		<div class="collapse" id="collapseTask">
			<form action = "/taskcheck" method = "POST" class="form-group" id = "taskform" style="padding-left: 10px; padding-right: 10px;">
				<input type="hidden" name="date" value="{{datetime}}">
				<label for="task" class="font-weight-bold">Task:</label>
				<textarea class="form-control" rows="1" name = "task" id = "task" placeholder = "Buy groceries"></textarea><br>
				<label for="description" class="font-weight-bold">Description:</label>
		    <textarea class="form-control" rows="3" name = "description" id = "description" placeholder = "Milk, broccoli, chocolate..."></textarea><br>
				<div class="form-group">
					<label for="time" class="font-weight-bold">Time:</label>
	        <div class="input-group date" id="datetimepicker0" data-target-input="nearest">
	            <input type="text" class="form-control datetimepicker-input" id = "time" name = "time" data-target="#datetimepicker3" placeholder = "10:00 AM"/>
	            <div class="input-group-append" data-target="#datetimepicker0" data-toggle="datetimepicker">
	                <div class="input-group-text"><i class="fa fa-clock-o"></i></div>
	            </div>
	        </div>
				</div>
		    <script type="text/javascript">
		        $(function () {
		            $('#datetimepicker0').datetimepicker({
		                format: 'LT',
		            });
		        });
		    </script>
				<button type="submit" class="btn btn-sm form-control" id="submit_task" style = "background-color: #cec1e7; border-color: #cec1e7;">Submit</button>
			</form>
		</div>
		{% endif %}
		{% if viewtd %}
			{% if tasks != "" %}
				{% for x in tasks %}
					<div class = "card" style = "text-align: left; background-color: #e8f4f8; margin-bottom: 3px; border: 2px solid #e5cce5;">
						{% if isOwner %}
						<form action = "/edittask" method = "POST" class="form-group" id = "tasksetting{{x[0]}}" name = "tasksetting{{x[0]}}" style = "margin-bottom: 0px; display: inlne-block; font-size: 0px;">
							<input type="hidden" name="date" value="{{datetime}}">
							{% if x[4] == 0 %}
								<button type="submit" class="btn float-left" id = "delete_task{{x[0]}}" name = "delete_task{{x[0]}}" value = "{{ x[0] }}">
									<span class="fa fa-times-circle" style="color:red"></span>
								</button>
								<button type="submit" class="btn btn-link float-right text-success" id = "resolve_task{{x[0]}}" name = "resolve_task{{x[0]}}" value = "{{ x[0] }}">Resolve</button>
								<button name="edit_task{{x[0]}}" id="edit_task{{x[0]}}"
												value="{{ x[0] }}" class="btn btn-link float-right" type="button" data-toggle="collapse"
												data-target="#collapseEditTask{{x[0]}}" aria-expanded="false" aria-controls="collapseEditTask{{x[0]}}">Edit</button>
							{% else %}
								<button type="submit" class="btn float-left" id = "delete_task{{x[0]}}" name = "delete_task{{x[0]}}" value = "{{ x[0] }}">
									<span class="fa fa-times-circle" style="color:red"></span>
								</button>
								<button type="submit" class="btn btn-link float-right text-success" id = "unresolve_task{{x[0]}}" name = "unresolve_task{{x[0]}}" value = "{{ x[0] }}">Unresolve</button>
								<button name="edit_task{{x[0]}}" id="edit_task{{x[0]}}"
												value="{{ x[0] }}" class="btn btn-link float-right" type="button" data-toggle="collapse"
												data-target="#collapseEditTask{{x[0]}}" aria-expanded="false" aria-controls="collapseEditTask{{x[0]}}" disabled>Edit</button>
								{% endif %}
						</form>
						{% endif %}
						{% if x[4] == 0 %}
							<div class = "card-body" style = "background-color: #e8f8f4; border-top: 2px solid white;">
								<h5 style = "color: #F7717D; display: inline-block;">Task: <span style = "color: black; font-weight: normal;">{{ x[1] }}</span></h5><br>
								<h5 style = "color: #59b5f6; display: inline-block;">Description: <span style = "color: black; font-weight: normal;">{{ x[2] }}</span></h5><br>
								<h5 style = "color: #0cd35e; display: inline-block;">Time: <span style = "color: black; font-weight: normal;">{{ x[3] }}</span></h5>
							</div>
						{% else %}
							<div class = "card-body" style = "background-color: #e8f8f4; border-top: 2px solid white; opacity: 50%;">
								<h5 style = "color: #F7717D; display: inline-block;">Task: <span style = "color: black; font-weight: normal;">{{ x[1] }}</span></h5><br>
								<h5 style = "color: #59b5f6; display: inline-block;">Description: <span style = "color: black; font-weight: normal;">{{ x[2] }}</span></h5><br>
								<h5 style = "color: #0cd35e; display: inline-block;">Time: <span style = "color: black; font-weight: normal;">{{ x[3] }}</span></h5>
							</div>
						{% endif %}
						{% if isOwner %}
						<div class="collapse" id="collapseEditTask{{x[0]}}">
							<form action = "/edittask" method = "POST" class="form-group" id = "taskedit{{x[0]}}" style = "padding-left: 10px; padding-right: 10px; margin-bottom: 0px; padding-top: 10px; padding-bottom: 10px; background-color: white;">
								<input type="hidden" name="date" value="{{datetime}}">
								<label for="task" class="font-weight-bold">Task:</label>
								<textarea class="form-control" rows="1" name = "task{{x[0]}}" id = "task{{x[0]}}">{{ x[1] }}</textarea><br>
								<label for="description" class="font-weight-bold">Description:</label>
						    <textarea class="form-control" rows="3" name = "description{{x[0]}}" id = "description{{x[0]}}">{{ x[2] }}</textarea><br>
								<div class="form-group">
									<label for="time" class="font-weight-bold">Time:</label>
					        <div class="input-group date" id="datetimepicker{{x[0]}}" data-target-input="nearest">
					            <input type="text" class="form-control datetimepicker-input" id = "time{{x[0]}}" name = "time{{x[0]}}" data-target="#datetimepicker3" value = "{{ x[3] }}"/>
					            <div class="input-group-append" data-target="#datetimepicker{{x[0]}}" data-toggle="datetimepicker">
					                <div class="input-group-text"><i class="fa fa-clock-o"></i></div>
					            </div>
					        </div>
								</div>
						    <script type="text/javascript">
						        $(function () {
											var temp = '#datetimepicker{{x[0]}}'
						            $(temp).datetimepicker({
						                format: 'LT',
						            });
						        });
						    </script>
								<button type="submit" class="btn form-control btn-sm" id="submit_task" style = "background-color: #cec1e7; border-color: #cec1e7;">Submit</button>
							</form>
						</div>
						{% endif %}
					</div>
				{% endfor %}
			{% else %}
				{% if not isOwner %}
					<center class="text-secondary">
						<br><i>No entry yet!</i><br>
					</center>
				{% endif %}
			{% endif %}
		{% else %}
		<center>
			<br><b>You are not allowed to view this task list.</b><br><br>
		</center>
		{% endif %}
	</div>
</div>
<br>
<h3 style = "color: #7bc043;"> Current Mood </h3>
{% if viewmood %}
<div class="card" style="width:800px;background-color:{{mood[1]}};">
{% else %}
<div class="card" style="width:800px">
{% endif %}
	<div class="card-body">
		{% if viewmood %}
			{% if mood[0] != 'None' %}
			<span>{{mood[0]}}</span>
			{% else %}
			<span class="text-secondary"><i>No entry yet!</i></span>
			{% endif %}
		{% else %}
		<center>
			<b>You are not allowed to view this mood tracker.</b>
		</center>
		{% endif %}
		{% if isOwner %}
		<a class="d-inline" data-toggle="collapse" id="updateMood" href="#collapseExample1" role="button" aria-expanded="false" aria-controls="collapseExample1">
			 <span class="fa fa-pencil mx-2"> </span>
		</a>
		 <div class="collapse" id="collapseExample1">
		 	<br>
		 	<form class="form-inline" action='/moodcheck' method="POST">
				<div style="margin:auto;">
					<select class="form-control custom-select" name="mood" style="width:18rem" required>
						<option value="" selected disabled hidden>Select mood...</option>
						<option style="background-color: #ffb6e6" class="pink" value="0">happy/joyful/content/relax</option>
						<option style="background-color: #a3dbff" class="blue" value="1">sad/lonely/depressed/insecure</option>
						<option style="background-color: #71ffda" class="green" value="2">productive/motivated/alive/excited</option>
						<option style="background-color: #feffb2" class="yellow" value="3">sick/tired/bored/lazy</option>
						<option style="background-color: #ffd177" class="orange" value="4">average/normal/fine/OK</option>
						<option style="background-color: #ff5b5b" class="red" value="5">angry/anxious/fustrated/annoyed</option>
					</select>
					<input type="hidden" name="date" value="{{datetime}}">
					<button type="submit" class="btn btn-secondary">Submit</button>
				</div>
		 	</form>
		 </div>
		{% endif %}
	</div>
</div>
<br>
<h3 style = "color: #2C01D8;"> Sleep Tracker </h3>
<div class = "card" style="width:800px; background-color:#e8f4f8;">
	<div class="card-body">
		{% if viewsleep %}
			{% if sleep != None %}
				<span>{{sleep}} hours of sleep</span>
			{% else %}
				<span class="text-secondary"><i>No entry yet!</i></span>
			{% endif %}
		{% else %}
		<center>
			<b>You are not allowed to view this sleep tracker.</b>
		</center>
		{% endif %}
		{% if isOwner %}
			<a class="d-inline" data-toggle="collapse" id="updateMood" href="#sleep" role="button" aria-expanded="false" aria-controls="sleep">
				 <span class="fa fa-pencil mx-2"></span>
			</a>
			<div class="collapse" id="sleep">
				<br>
				<form class="form-inline" action='/sleepcheck' method="POST">
					<div style="margin:auto;">
						<input class="form-control" type="number" name="sleep" min="0" step="0.01" max="24" placeholder="0.00" style="width:18rem" required>
						<input type="hidden" name="date" value="{{datetime}}">
						<button type="submit" class="btn btn-secondary">Submit</button>
					</div>
				</form>
			</div>
		{% endif %}
	</div>
</div>
<br>
{% endblock body %}
