{% extends "base.html" %}

{% block title %}
	Daily
{% endblock %}

{% block body %}
<div style = "display: block; margin-left: auto; margin-right: auto;">
	<h2> {{ date }} </h2><br>
	<h3 style = "color: orange;"> Daily Overview </h3>
	<div class="card" style = "width: 800px; text-align: left;">
		<div class="form-group" id = "add">
			<button type="button" class="btn btn-primary btn-rounded btn-xs" style = "width: 40px; border-radius: 30px;">+</button>
			Add a new entry!
		</div>
		<form action = "/entrycheck" method = "POST" class="form-group" id = "textform" style = "display: none;">
	    <textarea class="form-control" rows="4" name = "new_entry" placeholder = "Today, I am..."></textarea><br>
			<button type="submit" class="btn btn-primary">Submit</button>
		</form>
		{% for x in entries %}
			<div class = "card" style = "width: 800px; text-align: left; background-color: #e8f4f8;" id = {{x[0]}}>
			{{ x[1] }}
			</div>
		{% endfor %}
	</div>
</div>
{% if isOwner %}
<form action='/moodcheck' method="POST">
	<span>Mood Tracker:
		<select id="mood" name="mood">
			<option style="background-color: #ffb6e6" class="pink" value="0">happy/joyful/content/relax</option>
			<option style="background-color: #a3dbff" class="blue" value="1">sad/lonely/depressed/insecure</option>
			<option style="background-color: #71ffda" class="green" value="2">productive/motivated/alive/excited</option>
			<option style="background-color: #feffb2" class="yellow" value="3">sick/tired/bored/lazy</option>
			<option style="background-color: #ffd177" class="orange" value="4">average/normal/fine/OK</option>
			<option style="background-color: #ff5b5b" class="red" value="5">angry/anxious/fustrated/annoyed</option>
		</select>
		<input type="hidden" name="date" value="{{datetime}}">
		<input type="submit">
	</span>

</form>
{% endif %}
{% endblock body %}

{% block script %}
<script>
	var add = document.getElementById("add");
	var textform = document.getElementById("textform");

	add.onclick = function(){
		if(textform.style.display == "none"){
			textform.style.display = "inline";
		}else{
			textform.style.display = "none"
		}
	}

</script>
{% endblock %}
