{% extends "base.html" %}

{% block title %}
	Daily
{% endblock %}

{% block style %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/js/tempusdominus-bootstrap-4.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css"/>
<style>
	.fa-clock-o::before {
	  content: "Pick";
	}
	.fa-arrow-down::before {
		content: "-";
	}
	.fa-arrow-up::before {
		content: "+";
	}
	select,
	select option {
	  color: #000000;
	}

	select:invalid,
	select option[value=""] {
	  color: #6c757d;
	}

</style>
{% endblock %}

{% block body %}
<div style = "display: block; margin-left: auto; margin-right: auto;">
	<h2> {{ date }} </h2><br>
	<h3 style = "color: #ee4035;"> Daily Overview </h3>
	<div class="card" style = "width: 800px; text-align: left; padding-bottom: 0px;" id = "journal" data-hidden = "{{ hide }}">
		<div class="form-group" id = "add" style = "display: inline; padding-top: 10px; padding-left: 10px; padding-right: 10px;">
			<button type="button" class="btn btn-primary btn-rounded btn-xs" id = "add_entry" style = "width: 40px; border-radius: 30px;">+</button>
			Add a new entry!
		</div>
		<form action = "/entrycheck" method = "POST" class="form-group" id = "textform" style = "display: none; padding-left: 10px; padding-right: 10px;">
	    <textarea class="form-control" rows="4" name = "new_entry" placeholder = "Today, I am..."></textarea><br>
			<button type="submit" class="btn btn-primary" id="submit">Submit</button>
		</form>
		{% if entries != None %}
			{% for x in entries %}
				<div class = "card" style = "padding-left: 10px; padding-right: 10px; padding-top: 10px; text-align: left; background-color: #e8f4f8;">
					{% autoescape false %}
						{{ x | replace("\r\n", "<br>") }}
					{% endautoescape %}
					<div class="form-group" id = "edit">
						<br>
						<button type="button" class="btn btn-primary btn-rounded btn-xs" id = "editbutton">Edit</button>
					</div>
					<form action = "/editentry" method = "POST" class="form-group" id = "textedit" style = "display: none;">
				    <textarea class="form-control" rows="5" name = "edit_entry">{{ x }}</textarea><br>
						<button type="submit" class="btn btn-primary">Submit</button>
					</form>
				</div>
			{% endfor %}
		{% endif %}
	</div><br>
	<h3 style = "color: #f37736;"> To-Do List </h3>
	<div class = "card" style = "width: 800px; text-align: left;" id = "tdlist">
		<div class="form-group" style = "padding-top: 10px; padding-left: 10px; padding-right: 10px;">
			<button type="button" class="btn btn-warning btn-rounded btn-xs"  id = "add_task" style = "width: 40px; border-radius: 30px;">+</button>
			Add a new task!
		</div>
		<form action = "/taskcheck" method = "POST" class="form-group" id = "taskform" style = "display: none; padding-left: 10px; padding-right: 10px;">
			<label for="task" class="font-weight-bold">Task:</label>
			<textarea class="form-control" rows="1" name = "task" id = "task" placeholder = "Buy groceries"></textarea><br>
			<label for="description" class="font-weight-bold">Description:</label>
	    <textarea class="form-control" rows="3" name = "description" id = "description" placeholder = "Milk, broccoli, chocolate..."></textarea><br>
			<div class="form-group">
				<label for="time" class="font-weight-bold">Time:</label>
        <div class="input-group date" id="datetimepicker0" data-target-input="nearest">
            <input type="text" class="form-control datetimepicker-input" id = "time" name = "time" data-target="#datetimepicker3" placeholder = "10:00 AM"/>
            <div class="input-group-append" data-target="#datetimepicker0" data-toggle="datetimepicker">
                <div class="input-group-text"><i class="fa fa-clock-o"></i></div>
            </div>
        </div>
			</div>
	    <script type="text/javascript">
	        $(function () {
	            $('#datetimepicker0').datetimepicker({
	                format: 'LT',
	            });
	        });
	    </script>

			<button type="submit" class="btn btn-warning" id="submit_task">Submit</button>
		</form>

		{% if tasks != "" %}
			{% for x in tasks %}
				<div class = "card" style = "text-align: left; background-color: #e8f4f8; margin-bottom: 3px; border: 2px solid #e5cce5;">
					<form action = "/edittask" method = "POST" class="form-group" id = "tasksetting{{x[0]}}" name = "tasksetting{{x[0]}}" style = "margin-bottom: 0px; display: inlne-block; font-size: 0px;">
						{% if x[4] == 0 %}
							<button type="submit" class="btn btn-warning btn-rounded btn-xs" id = "delete_task{{x[0]}}" name = "delete_task{{x[0]}}" style = "margin-right: 1px; margin-left: 621px;" value = "{{ x[0] }}">x</button>
							<button type="button" class="btn btn-warning btn-rounded btn-xs special" id = "edit_task{{x[0]}}" name = "edit_task{{x[0]}}" style = "margin-right: 1px;" value = "{{ x[0] }}">Edit</button>
							<button type="submit" class="btn btn-warning btn-rounded btn-xs" id = "resolve_task{{x[0]}}" name = "resolve_task{{x[0]}}" value = "{{ x[0] }}">Resolve</button>
						{% else %}
							<button type="submit" class="btn btn-warning btn-rounded btn-xs" id = "delete_task{{x[0]}}" name = "delete_task{{x[0]}}" style = "margin-right: 1px; margin-left: 605px;" value = "{{ x[0] }}">x</button>
							<button type="button" class="btn btn-warning btn-rounded btn-xs special" disabled id = "edit_task{{x[0]}}" name = "edit_task{{x[0]}}" style = "margin-right: 1px;" value = "{{ x[0] }}">Edit</button>
							<button type="submit" class="btn btn-warning btn-rounded btn-xs" id = "unresolve_task{{x[0]}}" name = "unresolve_task{{x[0]}}" value = "{{ x[0] }}">Unresolve</button>
						{% endif %}
					</form>
					{% if x[4] == 0 %}
						<div class = "card-body" style = "background-color: #e8f8f4; border-top: 2px solid white;">
							<h5 style = "color: #F7717D; display: inline-block;">Task: <span style = "color: black; font-weight: normal;">{{ x[1] }}</span></h5><br>
							<h5 style = "color: #59b5f6; display: inline-block;">Description: <span style = "color: black; font-weight: normal;">{{ x[2] }}</span></h5><br>
							<h5 style = "color: #0cd35e; display: inline-block;">Time: <span style = "color: black; font-weight: normal;">{{ x[3] }}</span></h5>
						</div>
					{% else %}
						<div class = "card-body" style = "background-color: #e8f8f4; border-top: 2px solid white; opacity: 50%;">
							<h5 style = "color: #F7717D; display: inline-block;">Task: <span style = "color: black; font-weight: normal;">{{ x[1] }}</span></h5><br>
							<h5 style = "color: #59b5f6; display: inline-block;">Description: <span style = "color: black; font-weight: normal;">{{ x[2] }}</span></h5><br>
							<h5 style = "color: #0cd35e; display: inline-block;">Time: <span style = "color: black; font-weight: normal;">{{ x[3] }}</span></h5>
						</div>
					{% endif %}
					<form action = "/edittask" method = "POST" class="form-group" id = "taskedit{{x[0]}}" style = "display: none; padding-left: 10px; padding-right: 10px; margin-bottom: 0px; padding-top: 10px; padding-bottom: 10px; background-color: white;">
						<label for="task" class="font-weight-bold">Task:</label>
						<textarea class="form-control" rows="1" name = "task{{x[0]}}" id = "task{{x[0]}}">{{ x[1] }}</textarea><br>
						<label for="description" class="font-weight-bold">Description:</label>
				    <textarea class="form-control" rows="3" name = "description{{x[0]}}" id = "description{{x[0]}}">{{ x[2] }}</textarea><br>
						<div class="form-group">
							<label for="time" class="font-weight-bold">Time:</label>
			        <div class="input-group date" id="datetimepicker{{x[0]}}" data-target-input="nearest">
			            <input type="text" class="form-control datetimepicker-input" id = "time{{x[0]}}" name = "time{{x[0]}}" data-target="#datetimepicker3" value = "{{ x[3] }}"/>
			            <div class="input-group-append" data-target="#datetimepicker{{x[0]}}" data-toggle="datetimepicker">
			                <div class="input-group-text"><i class="fa fa-clock-o"></i></div>
			            </div>
			        </div>
						</div>
				    <script type="text/javascript">
				        $(function () {
									var temp = '#datetimepicker{{x[0]}}'
				            $(temp).datetimepicker({
				                format: 'LT',
				            });
				        });
				    </script>

						<button type="submit" class="btn btn-warning" id="submit_task">Submit</button>
					</form>
				</div>
			{% endfor %}
		{% endif %}
	</div>
</div>
<br>
<h3 style = "color: #7bc043;"> Current Mood </h3>
<div class = "card" style="width:800px;background-color:{{mood[1]}};">
	<div class="card-body">
		<p style="text-align:center">{{mood[0]}}</p>
		{% if isOwner %}
		<div style="text-align:left;">
			<button type="button" id="updateMood" class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">Update</button>
			<div class="collapse" id="collapseExample">
				<br>
				<form class="form-inline" action='/moodcheck' method="POST">
					<span>
						<select class="form-control custom-select" name="mood" style="width:18rem" required>
							<option value="" selected disabled hidden>Select mood...</option>
							<option style="background-color: #ffb6e6" class="pink" value="0">happy/joyful/content/relax</option>
							<option style="background-color: #a3dbff" class="blue" value="1">sad/lonely/depressed/insecure</option>
							<option style="background-color: #71ffda" class="green" value="2">productive/motivated/alive/excited</option>
							<option style="background-color: #feffb2" class="yellow" value="3">sick/tired/bored/lazy</option>
							<option style="background-color: #ffd177" class="orange" value="4">average/normal/fine/OK</option>
							<option style="background-color: #ff5b5b" class="red" value="5">angry/anxious/fustrated/annoyed</option>
						</select>
						<input type="hidden" name="date" value="{{datetime}}">
						<button type="submit" class="btn btn-sm btn-secondary">Submit</button>
					</span>
				</form>
			</div>
		</div>
		{% endif %}
	</div>
</div>
<br>
<h3 style = "color: #2C01D8;"> Sleep Tracker </h3>
<div class = "card" style="width:800px;background-color:#e8f4f8;">
	<div class="card-body">
		<p style="text-align:center">{{sleep}} hours of sleep</p>
		{% if isOwner %}
		<div style="text-align:left;">
			<button type="button" class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#sleep" aria-expanded="false" aria-controls="sleep">Update</button>
			<div class="collapse" id="sleep">
				<br>
				<form class="form-inline" action='/sleepcheck' method="POST">
					<span>
						<input type="number" name="sleep" min="0" step="0.01" required>
						<input type="hidden" name="date" value="{{datetime}}">
						<button type="submit" class="btn btn-sm btn-secondary">Submit</button>
					</span>
				</form>
			</div>
		</div>
		{% endif %}
	</div>
</div>
<br>


{% endblock body %}

{% block script %}
<script>

	var test = document.getElementById("journal").getAttribute("data-hidden");
	var add = document.getElementById("add");
	// console.log(test);

	if(test == "yes"){
		add.style.display = "none";
		var edit = document.getElementById("editbutton");
		var textedit = document.getElementById("textedit");

		edit.onclick = function(){
			// console.log("here")
			if(textedit.style.display == "none"){
				textedit.style.display = "inline";
			}else{
				textedit.style.display = "none";
			}
		}
	}
	if(test == "no"){
		add.style.display = "inline";
	}

	var textform = document.getElementById("textform");

	var addEntry = document.getElementById("add_entry");
	addEntry.onclick = function(){
		if(textform.style.display == "none"){
			textform.style.display = "inline";
		}else{
			textform.style.display = "none";
		}
	}


	var addTask = document.getElementById("add_task");
	addTask.onclick = function(){
		if(taskform.style.display == "none"){
			taskform.style.display = "inline";
		}else{
			taskform.style.display = "none";
		}
	}

	var special = document.getElementsByClassName("special");

	for(var x = 0; x < special.length; x++){
		special[x].onclick = function(){
			temp = this.getAttribute("value");
			name = "taskedit" + temp;
			var tempForm = document.getElementById(name);
			// console.log(tempForm);
			if(tempForm.style.display == "none"){
				tempForm.style.display = "inline";
			}else{
				tempForm.style.display = "none";
			}
		}
	}

</script>

{% endblock %}
