{% extends "base.html" %}

{% block title %}
	Friends
{% endblock %}

{% block body %}
<h2>Friends</h2>
<div class="container">
	<div class="row">
		<div class="col col-lg-6">
			<h4>Friend List</h4>
			{% if friendlist != [] %}
				{% for friend in friendlist %}
				<div class="card py-2">
					<div>
						<b>{{ friend[0] }}</b><br>
						<a href="/daily/{{ friend[1] }}/{{ date }}" class="p-0">View Daily</a> /
						<a href="/monthly/{{ friend[1] }}" class="p-0">View Monthly</a> /
						<a href="/future/{{ friend[1] }}" class="p-0">View Future</a>
					</div>
				</div>
				{% endfor %}
			{% else %}
			<div class="card">
			  <div class="card-body">
			    <p class="card-text">None</p>
			  </div>
			</div>
			{% endif %}
		</div>
		<div class="col col-lg-6">
			<h4>
				Message Board
				{% if messages|length + requests|length > 0 %}
					<span class="badge badge-danger mx-1">{{ messages|length + requests|length }}</span>
				{% endif %}
			</h4>
			{% if requests != [] or messages != [] %}
				{% for request in requests %}
				<div class="card py-2">
					<div>
						You have received a friend request from <b>{{ request[0] }}</b>.
					</div>
					<form action="/processrequest" method="POST">
						<input type="hidden" name="id" value="{{ request[1] }}">
						<button class="btn btn-link text-success p-0" type="submit" name="response" value="1">Accept</button> /
						<button class="btn btn-link text-danger p-0" type="submit" name="response" value="0">Delete</button>
					</form>
					</div>
				{% endfor %}
				{% for message in messages %}
				<div class="card py-2">
					<div>
						<b>{{ message[1] }}</b> has shared <span class="text-secondary">"{{ message[3] }}"</span> with you.
					</div>
					<form action="/processmessage" method="POST">
						<input type="hidden" name="friend_id" value="{{ message[0] }}">
						<input type="hidden" name="user_id" value="{{ default_id }}">
						<input type="hidden" name="list_id" value="{{ message[2] }}">
						<a href="/editlist/{{ message[2] }}" class="btn btn-link p-0">View List</a> /
						<button class="btn btn-link text-danger p-0" type="submit">Dismiss</button>
					</form>
					</div>
				{% endfor %}
			{% else %}
			<div class="card">
			  <div class="card-body">
			    <p class="card-text">None</p>
			  </div>
			</div>
			{% endif %}
		</div>
	</div>
</div>
<br>
<div class="card w-25">
	<div class="card-body">
		<h4 class="card-title">Permissions</h4>
		{% if edit %}
		<form action="/editpermissions" method="POST">
			{% for key, value in permissions %}
			<div class="form-check">
				{% if value[0] == True %}
				<input name="options" type="checkbox" class="form-check-input" id="{{ key }}" value="{{ key }}" checked>
				{% else %}
				<input name="options" type="checkbox" class="form-check-input" id="{{ key }}" value="{{ key }}">
				{% endif %}
				<label class="form-check-label" for="{{ key }}">{{ value[1] }}</label>
			</div>
			{% endfor %}
			<button type="submit" class="btn btn-primary btn-sm" style="margin-top: 6px;">Submit</button>
		</form>
		{% else %}
		<div>
			{% for key, value in permissions %}
			{{ value[1] }}:
			{% if value[0] %}
			<span class="text-success">{{ value[0] }}</span>
			{% else %}
			<span class="text-danger">{{ value[0] }}</span>
			{% endif %}
			<br>
			{% endfor %}
			<a class="btn btn-primary text-white btn-sm" href="/permissions" style = "margin-top: 6px;">Edit</a>
		</div>
		{% endif %}
	</div>
</div>
{% endblock body %}
