{% extends "base.html" %}

{% block title %}
	Future
{% endblock %}

{% block body %}
{% if not isOwner %}<h1 style="color:#aaa"><i>(Viewing for {{ username }})</i></h1><br>{% endif %}
<h2>Future Spread</h2>
{% if viewfuture %}
{% if isOwner %}
<p>
  <button class="btn btn-info" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    Add new list
  </button>
</p>
<div class="collapse" id="collapseExample">
  <div class="card card-body w-25" style="background-color:#e8f4f8">
    <form action="/addnewlist" method="POST">
      <input type="hidden" name="user" value="{{ default_id }}">
      <input type="text" name="title" placeholder="Title" class="form-control" required>
      {% if friendlist|length != 0 %}
      <br><span class="font-weight-bold">Add collaborators: </span> <br>
      <div class="form-check">
      {% for friend in friendlist %}
          <input type="checkbox" class="form-check-input" id="{{ friend[1] }}" value="{{ friend[1] }}" name="options">
          <label class="form-check-label" for="{{ friend[1] }}">{{ friend[0] }}</label><br>
      {% endfor %}
      </div>
			{% else %}
				<i class="text-secondary"><small>Note: You have no friends to add as collaborators.</small></i>
      {% endif %}
      <br>
      <button class="btn btn-primary btn-sm" type="submit">Submit</button>
      <br>
    </form>
  </div>
</div>
{% endif %}
<br>
{% for i in range(length) %}
<div class="row w-75">
  <div class="col-4">
    <div class="card px-2"><br>
			{% if lists[i * 3][3][0] == default_id and lists[i * 3][5] == 3 %}
			<form action="/deletelist" method="POST">
				<input type="hidden" name="user" value="{{ default_id }}">
				<input type="hidden" name="list_id" value="{{ lists[i * 3][0] }}">
				<button type="submit" class="btn fa fa-times-circle fa-lg text-danger"></button>
			</form>
			{% endif %}
      <h3 class="card-title my-0">{{ lists[i * 3][1] }}</h3>
      By {{ lists[i * 3][3][1] }}<br>
      {% if lists[i * 3][5] == 3 %}
        <i class="text-success">Collaborators:
          {% for person in lists[i * 3][4] %}
          {{ person[1] }}{% if loop.index != lists[i * 3][4]|length %},{% endif %}
          {% endfor %}
        </i>
      {% endif %}
      {% if lists[i * 3][2]|length == 0 %}
      <p class="my-2">
        <i style="color:#aaa" class="text-center">None</i>
      </p>
      {% else %}
      <br>
          {% for item in lists[i * 3][2] %}
						{% if item[2] == 1 %}
							<span style="color:#777; text-decoration:line-through">{{ item[1] }}</span>
						{% else %}
	            {{ item[1] }}<br>
						{% endif %}
          {% endfor %}
					<br>
      {% endif %}
      {% if default_id == lists[i * 3][3][0] %}
        <a href="/editlist/{{ lists[i * 3][0] }}" class="fa fa-pencil"></a><br>
      {% else %}
        {% for person in lists[i * 3][4] %}
          {% if default_id == person[0] %}
          <a href="/editlist/{{ lists[i * 3][0] }}" class="fa fa-pencil"></a><br>
          {% endif %}
        {% endfor %}
      {% endif %}
    </div>
  </div>
  {% if (i * 3 + 1) <= lists|length - 1 %}
  <div class="col-4">
    <div class="card px-2"><br>
			{% if lists[i * 3 + 1][3][0] == default_id and lists[i * 3 + 1][5] == 3 %}
			<form action="/deletelist" method="POST">
				<input type="hidden" name="user" value="{{ default_id }}">
				<input type="hidden" name="list_id" value="{{ lists[i * 3 + 1][0] }}">
				<button type="submit" class="btn fa fa-times-circle fa-lg text-danger"></button>
			</form>
			{% endif %}
      <h3 class="card-title my-0">{{ lists[i * 3 + 1][1] }}</h3>
      By {{ lists[i * 3 + 1][3][1] }}<br>
      {% if lists[i * 3 + 1][5] == 3 %}
        <i class="text-success">Collaborators:
          {% for person in lists[i * 3 + 1][4] %}
          {{ person[1] }}{% if loop.index != lists[i * 3 + 1][4]|length %},{% endif %}
          {% endfor %}
        </i>
      {% endif %}
      {% if lists[i * 3 + 1][2]|length == 0 %}
      <p class="my-2">
        <i style="color:#aaa" class="text-center">None</i>
      </p>
      {% else %}
      <br>
          {% for item in lists[i * 3 + 1][2] %}
						{% if item[2] == 1 %}
							<span style="color:#777; text-decoration:line-through">{{ item[1] }}</span>
						{% else %}
							{{ item[1] }}<br>
						{% endif %}
          {% endfor %}
					<br>
      {% endif %}
      {% if default_id == lists[i * 3 + 1][3][0] %}
        <a href="/editlist/{{ lists[i * 3 + 1][0] }}" class="fa fa-pencil"></a><br>
      {% else %}
        {% for person in lists[i * 3 + 1][4] %}
          {% if default_id == person[0] %}
          <a href="/editlist/{{ lists[i * 3 + 1][0] }}" class="fa fa-pencil"></a><br>
          {% endif %}
        {% endfor %}
      {% endif %}
    </div>
  </div>
  {% endif %}
  {% if (i * 3 + 2) <= lists|length - 1 %}
  <div class="col-4">
    <div class="card px-2"><br>
			{% if lists[i * 3 + 2][3][0] == default_id and lists[i * 3 + 2][5] == 3 %}
			<form action="/deletelist" method="POST">
				<input type="hidden" name="user" value="{{ default_id }}">
				<input type="hidden" name="list_id" value="{{ lists[i * 3 + 2][0] }}">
				<button type="submit" class="btn fa fa-times-circle fa-lg text-danger"></button>
			</form>
			{% endif %}
      <h3 class="card-title my-0">{{ lists[i * 3 + 2][1] }}</h3>
      By {{ lists[i * 3 + 2][3][1] }}<br>
      {% if lists[i * 3 + 2][5] == 3 %}
        <i class="text-success">Collaborators:
          {% for person in lists[i * 3 + 2][4] %}
          {{ person[1] }}{% if loop.index != lists[i * 3 + 2][4]|length %},{% endif %}
          {% endfor %}
        </i>
      {% endif %}
      {% if lists[i * 3 + 2][2]|length == 0 %}
      <p class="my-2">
        <i style="color:#aaa" class="text-center">None</i>
      </p>
      {% else %}
      <br>
          {% for item in lists[i * 3 + 2][2] %}
						{% if item[2] == 1 %}
							<span style="color:#777; text-decoration:line-through">{{ item[1] }}</span>
						{% else %}
							{{ item[1] }}<br>
						{% endif %}
          {% endfor %}
					<br>
      {% endif %}
      {% if default_id == lists[i * 3 + 2][3][0] %}
        <a href="/editlist/{{ lists[i * 3 + 2][0] }}" class="fa fa-pencil"></a><br>
      {% else %}
        {% for person in lists[i * 3 + 2][4] %}
          {% if default_id == person[0] %}
          <a href="/editlist/{{ lists[i * 3 + 2][0] }}" class="fa fa-pencil"></a><br>
          {% endif %}
        {% endfor %}
      {% endif %}
    </div>
  </div>
  {% endif %}
</div>
<br>
{% endfor %}
{% else %}
<br>
<div class="card w-50">
	<div class="card-body">
		<p class="card-text font-weight-bold text-danger">
			<br>
			You are not allowed to view this future spread!
			<br><br>
		</p>
	</div>
</div>
<br>
{% endif %}
{% endblock %}
