{% extends "base.html" %}

{% block title %}
	Info
{% endblock %}

{% block body %}
<div style="padding-left: 10%; padding-right: 10%">
<h2 style="color: #FF00B8">Info</h2>

<p>Hiiii we're so glad you're here! Our project is an online bullet journal with a collaborative aspect to connect with your friends!</p>

<h2 style="color: #FF00B8">Instructions</h2>
<h3>Daily</h3>
<p>Here you can talk about how your day went! You can add a task (task can be deleted, resolved, or edited), track your mood, and track your sleep. If you miss a day, choose any date from the form to refill out those entries. Friends can also comment on your daily overview if you give them permission to.</p>

<h3>Monthly</h3>
<p>Here you can see your monthly mood and sleep overview through a calendar graphic. The legend is displayed below the chart and is dynamic for that month's schedule. You can view other months by toggling the form to choose another month.</p>

<h3>Future</h3>
<p>Here you can create "spreads" for the future. Each user starts with three default spreads that can't be renamed: a bucket list, reading list, and to-watch list. Click the pencil icon to add, delete, edit, and cross off an item. You can add or remove friends to collaborate on a spread, who are able to see the spread under their own future spread and edit the list. Only the original owner of the spread may add/remove additional collaborators or delete a list.</p>

<h3>Add Friends</h3>
<p>A big part of our project circles around collaboration in these journals! You can add friend sby searching for their username and send a friend request. To display all the users on the site, just click the search button without entering a search query. Tee search results will also show your pending and incoming friend requests.</p>

<h3>Friends</h3>
<p>Here you can view your friends list and view their daily, monthly, or future spreads depending on their enabled permisisons. You'll also see your message board, where you can see pending friend requests and collaborator notifications on Future spreads. The collaborator notification links to the list and can also be dismissed. Finally, you can edit the permissions on the friends tab and choose what spreads your friends can view.</p>

<h2 style="color: #FF00B8">Team Flag</h2>
<img src="/../flag.jpg" alt="flag">

</div>

{% endblock %}
