{% extends "base.html" %}

{% block title %}
	Future
{% endblock %}

{% block style %}
<style>
	.btn-resolve {
		color:black
	}
	.btn-resolve:hover{
		text-decoration:line-through !important
	}
	.btn-resolved{
		color:#777;
		text-decoration:line-through !important
	}
	.btn-resolved:hover{
		text-decoration:none !important;
	}
</style>
{% endblock %}

{% block body %}
<h2>Future Spread</h2><br>
<div class="card w-50 p-4" style="background-color:#e8f4f8">
  <h3 class="card-title" id="listtitle">{{ title }}
		{% if type == 3 %}
		<button type="button" class="btn btn-link fa fa-pencil fa-sm" onclick="changetitle()"></button>
		{% endif %}
	</h3>
	<form action="/edittitle" method="POST" style="display:none" id="titleform">
		<input type="hidden" name="list" value="{{ list }}">
		<div class="input-group input-group-lg w-50 mb-2">
		  <input type="text" class="form-control text-center" aria-label="Large" aria-describedby="inputGroup-sizing-sm" name="title" value="{{ title }}">
		</div>
	</form>
  By {{ owner[1] }}<br>
  {% if type == 3 %}
  <i class="text-success">Collaborators:
    {% for person in collaborators %}
    {{ person[1] }}{% if loop.index != collaborators|length %},{% endif %}
    {% endfor %}
  </i>
  {% endif %}
  {% if items|length == 0 %}
  <p class="my-2">
    <i style="color:#aaa" class="text-center">None</i>
  </p>
  {% else %}
  <br>
    {% for item in items %}
			<form action="/itemaction" method="POST" id="noedit{{ item[0] }}" style="display:block">
				<input type="hidden" name="item_id" value="{{ item[0] }}">
				<input type="hidden" name="list" value="{{ list }}">
				<button type="submit" class="btn fa fa-minus-circle text-danger" name="action" value="delete"></button>
			{% if item[2] == 0 %}
				<button type="submit" class="btn btn-link btn-resolve py-1" name="action" value="resolve">{{ item[1] }}</button>
			{% else %}
				<button type="submit" class="btn btn-link btn-resolved py-1" name="action" value="resolve">{{ item[1] }}</button>
			{% endif %}
				<button type="button" class="btn btn-link fa fa-pencil" id="{{ item[0] }}" onclick="changeview(this.id)"></button>
			</form>
			<form action="/itemaction" method="POST" style="display:none" id="edit{{ item[0] }}">
				<input type="hidden" name="item_id" value="{{ item[0] }}">
				<input type="hidden" name="list" value="{{ list }}">
				<input type="text" name="itembody" value="{{ item[1] }}">
				<button type="submit" name="action" value="edit" style="display:none"></button>
			</form>
    {% endfor %}
  {% endif %}
  <br>
  <form action="/editlist/{{ list }}" method="POST">
    <input type="hidden" name="list" value="{{ list }}">
    <input type="text" class="form-control d-inline my-2" name="item" placeholder="Add item..." required></input>
		<input type="hidden" name="action" value="edit">
  </form>
</div>
{% endblock %}

{% block script %}
<script>

	function changeview(id){
		editid = 'edit' + id
		noeditid = 'noedit' + id
		edit = document.getElementById(editid)
		noedit = document.getElementById(noeditid)
		edit.style.display = "block"
		noedit.style.display = "none"
	}

	function changetitle(){
		console.log("CHANGE")
		title = document.getElementById('listtitle')
		titleform = document.getElementById('titleform')
		title.style.display = "none"
		titleform.style.display = "block"
	}
</script>
{% endblock %}
